# Node modules and build output
node_modules/
/node_modules/
/.cache/
/.next/
/build/
/dist/
/out/

# IDE/editor junk
*.log
*.tmp
.DS_Store
.env
.vscode
shelf/
.idea/workspace.xml

#JetBrains IDE
.idea/
*.iml
.idea/modules.xml
vcs.xml
