.footer {
  display: flex;
  justify-content: space-between;
  background: #DBE4EE;
  color: #3E7CB1;
  margin-top: 5rem;
  padding: 0.5rem;
  border-top: 0.5px solid black;
}

.footer h3{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.footer ul {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

.footer li{
    margin-bottom: 1rem;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-column-a{
    margin-left: 1rem;
}

.footer-column-a img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-top: -40px;
  margin-left: 20px;
}

.footer-column-c{
    margin-left: 2rem;
}

.footer-column-d{
    margin-right: 7rem;
    font-size: 20px;
}
