.projectName{
    color: #3E7CB1;
    font-size: 64px;
    font-weight: bold;
}

.projectDescriptionHeader{
    font-size: 32px;
    font-weight: normal;
    margin-top: -1rem;
}

.projectDescription{
    font-size: 28px;
    margin-top: -1rem;
}

.homepageProjectLink{
    text-decoration: none;
    color: black;
}

.projectStats{
   font-size: 36px;
}

.researchHeader{
   color: #3E7CB1;
   font-size: 52px;
   margin-bottom: 3rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.flex-image{
    width: 320px;
    height: 305px;
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                  box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

